.swiper-container {
    background-color: #f7f7f7;
    padding: 3% 0 5% 0;
    position: absolute;
    left: 0px;
    width: 100%;
    margin-top: 70px;
}

.swiper-slide {
    width: 250px;
}

.swiper-slide img {
    width: 100%;
    border-radius: 7px;
}

.swiper-slide h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #373737;
    margin-top: 20px;
}

.swiper-slide p {
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: -0.1px;
    color: #373737;
}

.swiper-wrapper {
    padding: 0 30px;
}

.swiper-button-next,
.swiper-button-prev {
    top: 43px;
    color: black;
    background-color: rgba(255, 255, 255, 0.56);
    height: 51%;
    width: 70px;
    margin: 0px 0px;
    font-size: 15px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 23px;
    font-weight: 900;
}

.swiper-button-next {
    right: -2px;
}

.swiper-button-prev {
    left: -2px;
}

.swiper-pagination {
    z-index: 0;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #DDDDDD;
}

@media (max-width: 1000px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 1500px) {
    .swiper-button-next,
    .swiper-button-prev {
        height: 41%;
    }
}